*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#2f3946;
  font-family:'Poppins',sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.hero-preview{
  width:100%;
}

.hero-preview img{
  width:100%;
  height:auto;
  display:block;
}
